@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: local('☺'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.eot');
    src: local('☺'), url('../fonts/Lato-Hairline.woff') format('woff'), url('../fonts/Lato-Hairline.ttf') format('truetype'), url('../fonts/Lato-Hairline.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.eot');
    src: local('☺'), url('../fonts/Lato-Thin.woff') format('woff'), url('../fonts/Lato-Thin.ttf') format('truetype'), url('../fonts/Lato-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?41670118');
    src: url('../fonts/fontello.eot?41670118#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?41670118') format('woff'),
    url('../fonts/fontello.ttf?41670118') format('truetype'),
    url('../fonts/fontello.svg?41670118#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}